{% extends "base.html" %}
{% block content %}

<h1 class="p-3">Каталог</h1>

{% if techs %}
<ul class="pr-5">

    <!-- card-columns -->
    <div class="card-deck mb-3 text-center">
        {% for tech in techs %}
        <div class="card mb-3 shadow-sm" id="del{{ tech.id }}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal" id="nameform">{{ tech.name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ tech.marka }}<small class="text-muted"> <p>{{ tech.name }}</p></small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <li><img src="C:/Users/Mikhail/IdeaProjects/lojure-site/resources/static/kmu.jpg" width="190" height="100" alt="КМУ"></li>
                    <li> <b>Грузоподьёмность (кг) :</b> {{ tech.gruz }} </li>
                    <li> <b>Полная масса (кг) :</b> {{ tech.massa }}</li>
                    <li> <b>Мощность двигателя (л.с.) :</b> {{ tech.dvig }}</li>
                    <li> <b>Цена (тыс. руб.) :</b> {{ tech.cost }}</li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="edit/{{tech._id}}" role="button">Редактировать</a>
                <a class="btn btn-lg btn-block btn-outline-danger" href="delete/{{tech._id}}" role="button">Удалить</a>
            </div>
        </div>
        {% endfor %}
    </div>

</ul>
{% else %}
<strong>Каталог техники пуст!</strong>
{% endif %}

{% endblock %}